<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/w2ui/w2ui-1.4.2.min.css"/>
    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/w2ui/w2ui-1.4.2.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">Logo</a>
            <li class="active"><a href="/persons">一覧</a></li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" th:text="${session['userid']}"/>
            <li class="active"><a href="/logout">ログアウト</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<div id="grid" style="width: 100%; height: 350px;"></div>
<script type="text/javascript">
var countries = [
  {id: 1, text: 'Japan'}
  , {id: 2, text: 'US'}
];
$(function () {
    $('#grid').w2grid({
        name: 'grid',
        url: '/persons.w2ui.json',
        method: 'GET',
        multiSearch: false,
        columns: [
            { field: 'recid', caption: 'ID', size: '10%', key:true },
            { field: 'name', caption: 'Name', size: '20%', editable: { type: 'text' } },
            { field: 'age', caption: 'Age', size: '20%', editable: { type: 'int' } },
            { field: 'country', caption: 'Country', size: '50%', sortable: true, resizable: true, 
                editable: { type: 'list', items: countries, showAll: true },
                render: function (record, index, col_index) {
                    var html = this.getCellValue(index, col_index);
                    return html.text || '';
                }
            }
        ],
        show: { 
            toolbar: true,
            toolbarReload: true,
            toolbarSave: true,
            toolbarSearch: false,
            toolbarColumns: false
        },
    });
});
</script>

  </body>
</html>