<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery.dataTables.min.css"/>
    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">Logo</a>
            <li class="active"><a href="/persons">一覧</a></li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" th:text="${session['userid']}"/>
            <li class="active"><a href="/logout">ログアウト</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <form th:object="${form}" th:action="@{/persons}" method="get">
      <input type="text" th:field="*{search}"></input>
      <p>
        <input type="submit" class="btn btn-primary" value="検索"></input>
      </p>
    </form>    
    <form th:object="${form}" th:action="@{/registerPersons}" method="post" th:if="${display=form.persons != null}">
      <!-- 検索条件保持 -->
      <input type="hidden" th:field="*{search}"></input>
      <table id="myTable" class="display compact cell-border">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>country</th>
            <th>city</th>
            <th>check</th>
            <th>col1</th>
            <th>col2</th>
            <th>col3</th>
            <th>col4</th>
            <th>col5</th>
            <th>col6</th>
            <th>col7</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="person,rowStat : *{persons}">
          <input type="hidden" th:field="*{persons[__${rowStat.index}__].id}"></input>
          <td th:text="${person.id}"/>
    	  <td>
    	    <input type="text" class="form-control input-sm" th:field="*{persons[__${rowStat.index}__].name}"></input>
    	  </td>
    	  <td>
    	    <input type="text" class="form-control input-sm" th:field="*{persons[__${rowStat.index}__].age}"></input>
    	  </td>
    	  <td>
    	    <select class="form-control input-sm" th:field="*{persons[__${rowStat.index}__].country}">
    	      <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>
    	    </select>
    	  </td>
    	  <td th:if="${display=form.persons[__${rowStat.index}__].country == 'Japan'}">
    	    <select class="form-control input-sm" th:field="*{persons[__${rowStat.index}__].city}">
    	      <option th:each="city : ${citiesForJapan}" th:value="${city}" th:text="${city}"/>
    	    </select>
    	  </td>
    	  <td th:if="${display=form.persons[__${rowStat.index}__].country == 'US'}">
    	    <select class="form-control input-sm" th:field="*{persons[__${rowStat.index}__].city}">
    	      <option th:each="city : ${citiesForUS}" th:value="${city}" th:text="${city}"/>
    	    </select>
    	  </td>
    	  <td>
    	    <input type="checkbox" th:field="*{persons[__${rowStat.index}__].check}"></input>
    	  </td>
    	  <td>val1</td>
    	  <td>val2</td>
    	  <td>val3</td>
    	  <td>val4</td>
    	  <td>val5</td>
    	  <td>val6</td>
    	  <td>val7</td>
        </tr>
        </tbody>
      </table>
      <p>
        <input type="submit" class="btn btn-primary" value="登録"></input>
      </p>
    </form>
    <script type="text/javascript" language="javascript" class="init">
      // inputタグ内の値でソートできるようにする処理（関数定義）
      /* Create an array with the values of all the input boxes in a column */
      $.fn.dataTable.ext.order['dom-text'] = function ( settings, col )
      {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
          return $('input', td).val();
        } );
      }

　　　　　/* Create an array with the values of all the input boxes in a column, parsed as numbers */
　　　　　$.fn.dataTable.ext.order['dom-text-numeric'] = function  ( settings, col )
　　　　　{
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
          return $('input', td).val() * 1;
        } );
      }

      /* Create an array with the values of all the select options in a column */
      $.fn.dataTable.ext.order['dom-select'] = function  ( settings, col )
      {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
          return $('select', td).val();
        } );
      }

      /* Create an array with the values of all the checkboxes in a column */
      $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col )
      {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
          return $('input', td).prop('checked') ? '1' : '0';
        } ); 
      }

      $(document).ready(function(){
        var table = $('#myTable').dataTable({
          columns : [
            { "width": "1%" }
            , { "width": "10%", "orderDataType": "dom-text", type: 'string' }
            , { "width": "5%","orderDataType": "dom-text-numeric" }
            , { "width": "10%","orderDataType": "dom-select" }
            , { "width": "10%","orderDataType": "dom-select" }
            , { "width": "1%","orderDataType": "dom-checkbox" }
            , { "width": "10%" }
            , { "width": "10%" }
            , { "width": "10%" }
            , { "width": "10%" }
            , { "width": "10%" }
            , { "width": "10%" }
            , { "width": "3%" }
          ]
          , "info": false
          , "paging": false
          , "searching": true
		  , "scrollX": true
		  , "scrollCollapse": true
        });
      });
    </script>
    <script type="text/javascript" language="javascript" class="init">
      // TODO 二重管理
      var cities = {
        "Japan" : [
          "Tokyo", "Osaka"
        ], 
        "US" : [
          "Newyork", "Cicago"
        ]
      };
      // ----------------------------------------
      // countryのプルダウンが選択されたとき、cityのプルダウンを動的に作成する処理
      // ----------------------------------------
      $("select[id$=country]").change(function() {
        // 選択された要素の情報を取得
        var selectId = $(this).attr('id');
        var selectedValue = $(this).val();
        // 選択されたcountry要素から変更対象のcity要素を特定する
        var cityId = selectId.replace("country", "city");
        var cityIdSelector = '#' + cityId.replace(".", "\\.");
        // 一旦全てのoption要素を削除する
        $(cityIdSelector).find('option').remove();
        // option要素を追加
        $(cities[selectedValue]).each(function(i) {
          $(cityIdSelector).append($('<option></option>')
            .val(cities[selectedValue][i])
            .text(cities[selectedValue][i]));
        });
      });
    </script>
  </body>
</html>